@use "../common/variables";
@use "../common/cta";
@use "../common/common_styles";
@use "../layouts/break_points";

.about {
  background-color: variables.$color-green;
  border-radius: variables.$border-radius-20px;
  grid-template-columns: 1fr 1fr;
  color: variables.$color-dark-black;
  padding: 4.22rem 3rem;
  margin-top: 5rem;
  gap: 2rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: hidden;

  @include break_points.default-1000 {
    grid-auto-flow: row;
    grid-template-columns: unset !important;
    text-align: center;
  }

  @include break_points.mbl {
    margin: 5rem 1rem 0 1rem;
    padding: 3rem 0.5rem;
  }

  &__upper {
    text-transform: uppercase;
    position: relative;

    &__heading-small {
      font-size: 1.375rem;
      @include variables.font-poppins(600);

      @include break_points.mbl {
        font-size: 0.875rem;
      }
    }

    &__heading-large {
      margin-top: 1.5rem;
      font-size: 3.125rem;
      @include variables.font-poppins(600);

      @include break_points.default-1000 {
        text-align: center;
        max-width: 280px;
        margin: 1.5rem auto 0 auto;
      }

      @include break_points.mbl {
        font-size: 1.688rem;
        margin: 1.5rem auto 0 auto;
      }

    }

    &>div {

      &>span {
        position: absolute;
        bottom: -0.5em;
        right: -0.2rem;

        @include break_points.default-1000 {
          right: unset;
          left: 2.5em;
          bottom: -4.2em;
        }
      }
    }
  }

  &__lower {
    padding-top: 0.5rem;

    @include break_points.default-1000 {
      margin-top: 2rem;
    }

    @include break_points.mbl {
      margin-top: 0;
    }

    &__para {
      font-size: 1.375rem;
      @include variables.font-poppins(500);

      @include break_points.mbl {
        font-size: 1rem;
        margin-top: 2.5rem;
      }
    }

    &__cta {
      margin-top: 2.5rem;
      text-transform: uppercase;

      .about-cta {
        @extend %common-hover;

        &>a {
          @include cta.makeCta(1.125rem,
            variables.$color-yellow,
            variables.$color-dark-black,
            600,
            variables.$border-radius-30px,
            1rem 2.568rem,
            0.8rem 1rem 0.8rem 2rem,
            0.875rem)
        }
      }
    }
  }
}